[Unit]
Description=Perform booted OS setup
After=getty.target

[Service]
Type=exec
ExecStartPre=echo "Running OS setup..."
ExecStart=bash -c '\
  su - {user} -c \'{command}; echo "$?" | sudo tee {result} \'; \
  loginctl kill-user {user}; \
  shutdown now \
' &
StandardOutput=tty

[Install]
WantedBy=getty.target
