[Unit]
Description=Run commands in booted OS
After=getty.target

[Service]
Type=exec
ExecStart=bash -x -c "\
  su - {user} -c '{command}; echo $? | su - root -c \'tee {result}\''; \
  echo Shutting down...; \
  shutdown now \
" &
StandardOutput=tty

[Install]
WantedBy=getty.target
