[Unit]
Description=Perform booted OS setup
After=getty.target

[Service]
Type=exec
ExecStartPre=echo "Running OS setup..."
ExecStart=bash -c '{0}; echo "$?" > %I; shutdown now' &
StandardOutput=tty

[Install]
WantedBy=getty.target
